<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Designed to help teachers and students<br>plan class schedules">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Additional CSS -->   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

		
		
		<link rel="icon" href="">
        <title>Templiholic</title>
    </head>
	<style>
	body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #565656;
	}
	</style>
	
	
    <!-- This is where the main guts of the web page goes -->
    <body>
        
        <!-- Form -->
        <form>
            <div class="mb-3" style="background-color: #fff; padding: 10px; position: relative; top: 15px;  margin-top: 2%; align-content: center; margin: auto; max-width: 250px;">
                <h3 style="padding-bottom:10px;">Sign Up</h3>
				<!-- Full Name -->
                <label for="FormControlInput1" class="form-label">Full name</label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="John Smith">

                <!-- Email -->
                <label for="FormControlInput2" class="form-label" style="padding-top: 5px;">Email address</label>
                <input type="email" class="form-control" id="FormControlInput2" placeholder="name@example.com">
				
				<!-- Password -->
				<label for="FormControlInput3" class="form-label" style="padding-top:5px;">Password</label>
				<input type="password" class="form-control" id="FormControlInput3" placeholder="At least 6 characters required">
				
				<label for="FormControlInput4" class="form-label" style="padding-top:5px;">Confirm Password</label>
				<input type="password" class="form-control" id="FormControlInput4">
				
				<!-- Sign Up -->
				<button type="button" class="btn btn-primary" style="margin: 10px 10px 10px;">Sign Up</button>
            </div>
        </form>





          
    <!-- This contains the copyright information and other important information -->
    <footer stlye="position: fixed; bottom: 0; left: 0; width:100%;">
        <div class="COPYRIGHT">
        <p style="color: white; bottom:0;">Copyright © 2022 Pythonese LLC</p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>