@charset "utf-8";


.body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #565656;
}

/* Form CSS */
.mb-3 {
    color: white;
}


table, th, td {
	border: 1px solid;
}
/* Header Style */
header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 80px;
    background-color: #232323;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
    padding: 17px 0px;
}
.background-header .navbar {
    padding: 17px 0px;
}
.background-header {
    top: 0;
    position: fixed;
    background-color: #fff!important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
    color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
    color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #f33f3f!important;
}
.navbar .navbar-brand {
    float:     left;
    margin-top: -12px;
    outline: none;
}
.navbar .navbar-brand h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
    font-style: normal;
    color: #f33f3f;
}
#navbarResponsive {
    z-index: 999;
}
.navbar-collapse {
    text-align: center;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #fff;
    padding-bottom: 25px;
    border-bottom: 3px solid #f33f3f;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler {
    border-color: #121212;
    background-color: #121212;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #f33f3f;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}






/* Footer CSS */
.COPYRIGHT {
    text-transform: uppercase;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: lightgrey;
}