/* Theme setup */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #83b5cd;
    background-image: linear-gradient(to bottom left, #83b5cd, #125267);
    text-align: center;
  }

/* Header & Navbar */
header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 80px;
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
	padding: 17px 0px;
}

.background-header .navbar {
	padding: 17px 0px;
}

.background-header {
	top: 0;
	position: fixed;
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.background-header .navbar-brand h2 {
	color: #121212!important;
}

.background-header .navbar-nav a.nav-link {
	color: #1d72b4!important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #1d72b4!important;
}

.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}

.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
	font-style: normal;
    font-size: 18px;
	color: #1d72b4;
    text-decoration: underline;
}

#navbarResponsive {
	z-index: 999;
}

.navbar-collapse {
	text-align: center;
}

.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #fff;
	padding-bottom: 25px;
	border-bottom: 3px solid #1d72b4;
}

.navbar .navbar-toggler-icon {
	background-image: none;
}

.navbar .navbar-toggler {
	border-color: #121212;
	background-color: #121212;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}

.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #1d72b4;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}


/* Form */
.form-container {
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%)
    translateY(-50%);
    min-width: 429px;
    margin: auto;
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 8px;
}

.form-container .welcome-title {
    font-size: 48px;
    transform: translateZ(0);
    padding-bottom: .5em;
}

.title{
    font-size: 30px;
    padding-bottom: .3em;
}

form #sign-up-link {
    font-size: smaller;
}


/* Footer */
.COPYRIGHT {
    color: white;
    text-transform: uppercase;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: #243a4b;
}


/* Mobile */
@media (max-width: 992px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 32px;
	}

	.navbar .navbar-brand {
		width: auto;
	}

	.navbar .navbar-brand h2 em {
	font-style: normal;
	color: transparent;
    }

	.navbar:after {
		display: none;
	}

	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: rgb(232, 232, 232);
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}

	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid rgb(78, 78, 78);
	}

	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}

	.navbar .navbar-nav a.nav-link {
		padding: 18px 0px;
		color: #1e1e1e!important;
	}

	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
        text-decoration: solid;
		color: #2893e4!important;
		border-bottom: none!important;
		padding-bottom: 15px;
	}

	.product-item .down-content h4 {
		margin-bottom: 10px;
	}

	.product-item .down-content h6 {
		margin-bottom: 20px;
	}
	
	.page-heading {
		display: none;	
    }
}