/* Theme setup */
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #565656;
  }

/* Form CSS */
.mb-3 {
    color: white;
}










/* Footer CSS */
.COPYRIGHT {
    text-transform: uppercase;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: lightgrey;
}