/* Theme setup */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }

.default-home {
  width: 70%;
  height: 70%;
  margin: auto;
  background-color: light-grey;
}

.container .profiletable b {
	font-size: 22px;
	align-content: left;
}

/* Header & Navbar */
header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 80px;
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
	padding: 17px 0px;
}

.background-header .navbar {
	padding: 17px 0px;
}

.background-header {
	top: 0;
	position: fixed;
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.background-header .navbar-brand h2 {
	color: #121212!important;
}

.background-header .navbar-nav a.nav-link {
	color: #1d72b4!important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #1d72b4!important;
}

.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}

.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
	font-style: normal;
    font-size: 18px;
	color: #1d72b4;
    text-decoration: underline;
}

#navbarResponsive {
	z-index: 999;
}

.navbar-collapse {
	text-align: center;
}

.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #fff;
	padding-bottom: 25px;
	border-bottom: 3px solid #1d72b4;
}

.navbar .navbar-toggler-icon {
	background-image: none;
}

.navbar .navbar-toggler {
	border-color: #121212;
	background-color: #121212;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}

.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #1d72b4;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}

/* Table */

.table {
  
  max-width: 70%;
  margin: auto;
  
}




/* Calendar */
.calendar, .calendar .add-event-day .add-event-day-field-btn, .calendar .calendar-days li:after {
    position: absolute;
    right: 0;
    left: 0;
    top: 35px;
    bottom: 0;
    margin: auto; }
  
  .calendar {
    background: white;
    width: 840px;
    height: 490px;
    border-radius: 10px;
    overflow: hidden; }
    .calendar .calendar-left-side-day-of-week, .calendar .calendar-change-year, .calendar .calendar-days li {
      position: relative; 
    text-align: center ;}
    .calendar .current-day-events ul, .calendar .add-event-day,  .calendar .current-day-events ul {
      position: absolute;
      margin-right: 10%;
    }
    .calendar .add-event-day {
        color: white;
        position: relative;
        bottom: 15px;
    }
    .calendar .calendar-left-side-day, .calendar .calendar-left-side-day-of-week, .calendar .current-day-events, .calendar .add-event-day-field {
      color: white; }
    .calendar .calendar-left-side-day-of-week, .calendar .calendar-week {
      text-transform: uppercase; }
    .calendar .right-side, .calendar .left-side {
      padding: 30px;
      height: 100%; }
    .calendar .left-side {
      width: 320px;
      background: #0005f7;
      float: left; }
    .calendar .current-day, .calendar .current-day-events {
      padding-top: 40px; }
    .calendar .current-day-events {
      height: 215px; }
    .calendar .current-day-events ul {
      padding-left: 30px;
      list-style: none; }
      .calendar .current-day-events ul li::before {
        content: '-';
        position: absolute;
        left: 3px; }
    .calendar h1.calendar-left-side-day {
      font-size: 92px; }
    .calendar .add-event-day {
      border-bottom: 1px solid white; }
      .calendar .add-event-day .add-event-day-field {
        border: none;
        background: transparent;
        height: 34px;
        width: 100%;
        font-size: 16px;
        padding-right: 30px; }
      .calendar .add-event-day .add-event-day-field:focus {
        outline: none; }
      .calendar .add-event-day .add-event-day-field::placeholder {
        color: #ccc; }
      .calendar .add-event-day .add-event-day-field-btn {
        left: inherit;
        line-height: 34px; }
    .calendar .right-side {
      width: 520px;
      float: right; }
    .calendar .calendar-change-year {
      font-size: 20px; }
      .calendar .calendar-change-year .calendar-change-year-slider {
        margin: 15px 0;
        color: #737373; }
      .calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
        color: #404040; }
    .calendar .calendar-days, .calendar .calendar-week, .calendar .calendar-month {
      list-style: none;
      font-size: 0; }
      .calendar .calendar-days li, .calendar .calendar-week li, .calendar .calendar-month li {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-size: 16px; }
    .calendar .calendar-month li {
      width: calc(460px / 12);
      height: 30px;
      line-height: 30px;
      color: #868686;
      font-size: 13px; }
      .calendar .calendar-month li.active {
        color: #171717;
        font-weight: 600; }
    .calendar .calendar-days li {
      width: calc(460px / 7);
      height: 50px;
      line-height: 50px; }
      .calendar .calendar-days li:after {
        content: attr(data-day);
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #959595; }
      .calendar .calendar-days li.another-month:after {
        color: #ccc; }
      .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after, .calendar .calendar-days li.event-day:before, .calendar .calendar-days li.active-day:after {
        border-radius: 50%; }
      .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after {
        background: #ccc;
        color: white; }
      .calendar .calendar-days li.event-day:before {
        content: ' ';
        width: 5px;
        height: 5px;
        position: absolute;
        top: 7px;
        right: 7px;
        background: #1400c7; }
      .calendar .calendar-days li.active-day:after {
        color: white;
        background: #0005f7; }
    .calendar .calendar-week {
      margin-bottom: 30px;
      font-weight: 600;
      color: #737373;
      border-top: 1px solid #ccc; }
      .calendar .calendar-week li {
        width: calc(460px / 7);
        height: 30px;
        line-height: 30px; }


/* Form */
.form-container {
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 429px;
    margin: auto;
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 8px;
}

.form-container .welcome-title h1{
	text-align: center;
    font-size: 50px;
	font-weight: bold;
    transform: translateZ(0);
    padding-bottom: .5em;
}

.title{
    font-size: 38px;
	font-weight: bold;
    padding-bottom: .3em;
}

form #sign-up-link {
    font-size: smaller;
}

/* Pop-up */
.popup .overlay {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background:rgba(0,0,0,0.7);
	z-index: 1;
	display: none;
}

.popup .content {
	cursor: default;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%) scale(0);
	background: #f3f3f3;
	width: 450px;
	z-index: 2;
	text-align: center;
	padding:20px;
	box-sizing: border-box;
	border-radius: 8px;
}

.popup .content h1 {
	font-size: large;
	padding-top: 6px;
	padding-bottom: 35px;
}

.popup .close-btn {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: #000;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content{
	transition: all 300ms ease-in-out;
	transform:translate(-50%,-50%) scale(1);
}


/* Footer */
.COPYRIGHT {
    color: white;
    text-transform: uppercase;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: #243a4b;
}


/* Mobile */
@media (max-width: 992px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 32px;
	}

	.navbar .navbar-brand {
		width: auto;
	}

	.navbar .navbar-brand h2 em {
	font-style: normal;
	color: transparent;
    }

	.navbar:after {
		display: none;
	}

	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: rgb(232, 232, 232);
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}

	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid rgb(78, 78, 78);
	}

	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}

	.navbar .navbar-nav a.nav-link {
		padding: 18px 0px;
		color: #1e1e1e!important;
	}

	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
        text-decoration: solid;
		color: #2893e4!important;
		border-bottom: none!important;
		padding-bottom: 15px;
	}

	.product-item .down-content h4 {
		margin-bottom: 10px;
	}

	.product-item .down-content h6 {
		margin-bottom: 20px;
	}
	
	.page-heading {
		display: none;	
    }

	.form-container {
		transform: translate(-50%,-50%);
	}
}