<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Additional CSS -->   
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


        <title>Templiholic</title>
    </head>

    <!-- This is where the main guts of the web page goes -->
    <body>
      {% if popUp != '' %}
        {{modal}}
      {% endif %}


      <div class="form-container">
        <div class="welcome-title">
          <h1>Welcome to Templiholic!</h1>
        </div>
        <form action="/loggin" method = "POST">
          <h1 class="title">Sign in</h1>
          <div class="form-group">
            <label for="user_email">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember_user">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
          <a href="signup" id="sign-up-link">Sign-up</a>
        </form>
      </div>
 
      <!-- This contains the copyright information and other inportant information -->
      <footer>
          <div class="COPYRIGHT">
            <p>Copyright © 2022 Pythonese LLC</p>
          </div>
      </footer>
    </body>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
